/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #D5B891; /* Cor caju como fundo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Título */
h1 {
    color: #A15A52; /* Cor de caju para o título */
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
}

/* Subtítulo com efeito máquina de escrever */
#subtitle {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    color: #A15A52;
    margin-bottom: 30px;
}

/* Container do Carrossel */
.carousel-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 30px; /* Espaçamento abaixo do carrossel */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%; /* Ajusta as imagens para ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem cortar a parte importante */
}

/* Container para as imagens do carrossel */
.photo-album {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

/* Estilo das miniaturas no carrossel */
.photo-album img {
    max-width: 150px; /* Definir tamanho das miniaturas */
    height: auto;
    border-radius: 5px;
    border: 2px solid #A15A52;
}

/* Música no final da página */
.music-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #A15A52;
    padding: 10px;
    text-align: center;
}

audio {
    width: 80%;
}
