/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #FAD2D2, #F4C2C2); /* Fundo com gradiente caju */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Título */
h1 {
    text-align: center;
    color: #A15A52;
}

/* Carrossel */
.carousel-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    overflow: hidden; /* Para esconder as imagens que saem da tela */
    border: 2px solid #F4C2C2; /* Cor da borda caju */
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Música */
.music-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #A15A52;
    padding: 10px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-container {
        width: 90%;
    }
    h1 {
        font-size: 24px;
    }
}
